body {
    margin: 0px;
/*    font-family: 'Open Sans', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* topbar */
#topbar {
    position: relative;
    z-index: 1;
    transition: background-color 150ms linear;
	font-size: 17px;
}

#topbar.scrolled {
	position: fixed;
    background-color: #5A5959;
    transition: background-color 150ms linear;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100vw;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#topbar-contact:hover {
    opacity: 0.6;
}

#topbar-brand:hover {
    opacity: 0.6;
}

#topbar-projects:hover {
    opacity: 0.6;
}

#topbar-about:hover {
    opacity: 0.6;
}

#topbar-resume:hover {
    opacity: 0.6;
}

#topbar-projects {
    margin-left: 3vw;
}

#topbar-resume {
    margin-left: 3vw;
}

#topbar-contact {
    margin-left: 3vw;
    margin-right: 2vw;
}

#topbar-brand {
    margin-left: 2vw;
/*    background-color: rgba(255,255,255, 0.2);*/
    border-radius: 20%;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    padding: 1px;
	font-size: 17px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
}

/* main page */
#main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/image.jpg");
	backdrop-filter: brightness(10%);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}


.fa {
  	padding: 10px;
  	font-size: 40px;
  	width: 17px;
  	text-align: center;
  	text-decoration: none;
  	margin-top: 215px;
  	margin-left: 5px;
  	margin-right: 5px;
  	border-radius: 100%;
/*	border: 1px solid white; */
}

.fa-facebook:hover {
    background: #3B5998;
  	color: white;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.fa-linkedin:hover {
    background: #007bb5;
  	color: white;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.fa-github:hover {
    background: #313131;
  	color: white;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.fa-facebook {
  	background: white;
  	color: #3B5998;
	margin-left: 8px;
	margin-right: 8px;

}

.fa-linkedin {
  	background: white;
  	color: #007bb5;
	margin-left: 8px;
	margin-right: 8px;
}

.fa-github {
  	background: white;
  	color: #313131;
	margin-left: 8px;
	margin-right: 8px;
}

.container {
    width: 100%;
    padding-top: 35vh;
    text-align: center;
    margin: auto;
    position: relative;
}

#name {
    font-size: 60px;
    padding: 5px 0px 5px 0px;
/*    width: 30vw;*/
    position: relative;
/*    margin: auto;*/
}

#occupations {
    margin-top: 15px;
    font-size: 20px;
}

/* about page */
#about {
    position: relative;
    width: 100vw;
/*    height: 100vh;*/
    background-color: #FCFBF9;
}

.subheading {
    position: relative;
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333333;
}

.line-border {
    width: 70px;
    height: 2px;
    background: #808080;
    margin: auto;
}

#about-container {
    width: 100%;
    text-align: center;
	margin-top: 80px;
	display: flex;
	justify-content: center;
}

#about-text {
/*    display: inline-block;*/
    width: 38vw;
    color: #565656;
    text-align: left;
    margin: auto;
    margin-right: 45px;
	font-size: 17px;
	margin-bottom: 160px;
	margin-top: 10px;
}

#hi {
    font-size: 40px;
/*    font-family: 'Nunito', sans-serif;*/
    color: #565656;
/*	text-align: center;*/
}

#about-image {
/*    display: inline-block;*/
    margin: auto;
	margin-left: 30px;
}

#face {
    height: 310px;
    width: auto;
    margin: auto;
    margin-left: 50px;
    box-shadow: 0px 0px 4px grey; 
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
    border-style: solid;
	margin-bottom: 160px;
	margin-top: 10px;
}

.em-wave {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    filter: grayscale(20%);
}

.em-wave:hover {
    animation: wave 1s;
}

@keyframes wave {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}

/* projects page */
#projects {
    position: relative;
/*    height: 180vh;*/
    width: 100vw;
    background-color: #ECE9E9;
	text-align: center;
}

#project-summary {
	color: #565656;
	margin-top: 45px;
	margin-bottom: 45px;
	font-size: 15px;
}

.box {
    height: 250px;
    width: auto;
    border-width: 1px;
    border-color: #565656;
    border-style: solid;
}

.project-container {
/*	height: 150px;*/
	flex-basis: 25%;
	-ms-flex: auto;
	width: 259px;
	padding: 20px;
	box-sizing: border-box;
}

.text {
    color: #565656;
    text-align: center;
	margin-top: 12px;
	margin-bottom: 30px;
	font-size: 15px;
}

.title {
	margin-top: 12px;
	color: #333333;
	font-size: 20px;
}

.big-container {
	max-width: 1335px;
	margin: 0 auto;
}

.grid-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

#ant {
    filter: grayscale(40%);
}

#git:hover {
    opacity: 0.6;
}

#map:hover {
    opacity: 0.6;
}

#ant:hover {
    opacity: 0.6;
}

#yelp:hover {
    opacity: 0.6;
}

#scheme:hover {
    opacity: 0.6;
}

#guava:hover {
    opacity: 0.6;
}

/*contact page*/
#contact {
	position: relative;
    height: 47vh;
    width: 100vw;
    background-color: #252525;
	text-align: center;
	color: white;
}

.con {
	color: white;
}

.contact-text {
	color: white;
	margin-top: 45px;
}



/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
/*
	#main {
		height: 70vh;
	}
	#about {
		height: 50vh;
	}
	
	#projects {
		height: 50vh;
	}
*/
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
/*
	#main {
		height: 150vh;
	}
	
	#about {
		height: 150vh;
	}
	
	#projects {
		height: 200vh;
	}
*/
}

/*
@media screen and (max-width: 1333px) {
	.project-container {
    flex-basis: 25%;
  }
}
*/

@media screen and (max-width: 1160px) {
	.project-container {
    	flex-basis: 33.33%;
	}
	
	#contact {
		height: 45vh;
	}
}

@media(max-width: 978px) {
	.project-container {
		flex-basis: 50%;
	}
}

@media(max-width: 555px) {
	.project-container {
		flex-basis: 100%;
	}
}




