body {
    margin: 0px;
/*    font-family: 'Open Sans', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* topbar */
#topbar {
    position: relative;
    z-index: 1;
    transition: background-color 150ms linear;
	font-size: 17px;
}

#topbar.scrolled {
	position: fixed;
    background-color: #5A5959;
    transition: background-color 150ms linear;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100vw;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#topbar-contact:hover {
    opacity: 0.6;
}

#topbar-brand:hover {
    opacity: 0.6;
}

#topbar-projects:hover {
    opacity: 0.6;
}

#topbar-about:hover {
    opacity: 0.6;
}

#topbar-resume:hover {
    opacity: 0.6;
}

#topbar-projects {
    margin-left: 3vw;
}

#topbar-resume {
    margin-left: 3vw;
}

#topbar-contact {
    margin-left: 3vw;
    margin-right: 2vw;
}

#topbar-brand {
    margin-left: 2vw;
    border-radius: 20%;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    padding: 1px;
	font-size: 17px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
}

/* main page */
#main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/image.jpg");
    background-size: cover;
    color: white;
    background-attachment: fixed;
}


.fa {
  	padding: 10px;
  	font-size: 40px;
  	width: 17px;
  	text-align: center;
  	text-decoration: none;
	margin-top: 20vh;
  	margin-left: 5px;
  	margin-right: 5px;
  	border-radius: 100%;
}

.fa-facebook:hover {
    background: #3B5998;
  	color: white;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.fa-linkedin:hover {
    background: #007bb5;
  	color: white;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.fa-github:hover {
    background: #313131;
  	color: white;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.fa-facebook {
  	background: white;
  	color: #3B5998;
	margin-left: 8px;
	margin-right: 8px;

}

.fa-linkedin {
  	background: white;
  	color: #007bb5;
	margin-left: 8px;
	margin-right: 8px;
}

.fa-github {
  	background: white;
  	color: #313131;
	margin-left: 8px;
	margin-right: 8px;
}

.container {
    width: 100%;
    padding-top: 38vh;
    text-align: center;
    margin: auto;
    position: relative;
}

#name {
    font-size: 70px;
    padding: 5px 0px 5px 0px;
    position: relative;
    margin: auto;
}

#occupations {
    margin-top: 15px;
    font-size: 20px;
}

/* about page */
#about {
    position: relative;
    width: 100vw;
/*    height: 100vh;*/
    background-color: #FCFBF9;
}

.subheading {
    position: relative;
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333333;
}

.line-border {
    width: 70px;
    height: 2px;
    background: #808080;
    margin: auto;
}

#about-container {
    width: 100%;
    text-align: center;
	margin-top: 90px;
	display: flex;
	justify-content: center;
}

#about-text {
    width: 40vw;
    color: #565656;
    text-align: left;
    margin: auto;
	font-size: 17px;
	margin-bottom: 160px;
}

#hi {
    font-size: 40px;
    color: #565656;
}

#about-image {
    margin: auto;
}

#face {
	margin-bottom: 160px;
	margin-top: 10px;
	margin-right: 130px;
    height: 310px;
    width: auto;
    box-shadow: 0px 0px 4px grey; 
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

.em-wave {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    filter: grayscale(20%);
}

.em-wave:hover {
    animation: wave 1s;
}

@keyframes wave {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}

/* projects page */
#projects {
    position: relative;
    width: 100vw;
    background-color: #ECE9E9;
	text-align: center;
}

#project-summary {
	color: #565656;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 15px;
}

.box {
    height: 250px;
    width: auto;
    border-width: 1px;
    border-color: #333333;
    border-style: solid;
	margin-top: 30px;
	border-radius: 13%
}

.project-container {
/*	height: 150px;*/
	flex-basis: 25%;
	-ms-flex: auto;
	width: 259px;
	padding: 10px;
	box-sizing: border-box;
}

.text {
    color: #565656;
    text-align: center;
	font-size: 15px;
	width: 250px;
	margin: auto;
}

.title {
	margin-top: 12px;
	margin-bottom: 12px;
	color: #333333;
	font-size: 20px;
}

.big-container {
	max-width: 1335px;
	margin: 0 auto;
}

.grid-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

#ant {
    filter: grayscale(40%);
}

#git:hover {
    opacity: 0.6;
}

#map:hover {
    opacity: 0.6;
}

#ant:hover {
    opacity: 0.6;
}

#yelp:hover {
    opacity: 0.6;
}

#scheme:hover {
    opacity: 0.6;
}

#guava:hover {
    opacity: 0.6;
}

/*contact page*/
#contact {
	position: relative;
/*    height: 47vh;*/
    width: 100vw;
    background-color: #252525;
	text-align: center;
	color: white;
}

.con {
	color: white;
}

.contact-text {
	color: white;
	margin-top: 45px;
	padding-bottom: 110px;
	margin-right: 30px;
	margin-left: 30px;
}

@media(min-width: 1300px) {
	#about-text {
		width: 500px;
	}
}

@media(max-width: 1160px) {
	.project-container {
    	flex-basis: 33.33%;
	}
}

@media(max-width: 978px) {
	.project-container {
		flex-basis: 50%;
	}
	#about-text {
		margin-left: 0px;
		margin-right: 0px;
		width: 45vw;
	}
	
	#face {
		margin-left: 0px;
		margin-right: 90px;
	}
}

@media(max-width: 885px) {
	#face {
		margin-left: 0px;
		margin-right: 80px;
	}
}

@media(max-width: 829px) {
	#main {
		height: 70vh;
	}
	
	#topbar {
		font-size: 15px;
	}
	
	#name {
		font-size: 60px;
	}
	
	#occupations {
		font-size: 18px;
	}
	
	.container {
		padding-top: 24vh;
	}
	
	.subheading {
		font-size: 15px;
	}
	
	.fa {
		margin-top: 60px;
	}
	
	.container-2 {
		flex-basis: 100%;
	}
	
	#about-text {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 80px;
		width: 50vw;
	}
	
	#about-container {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
	}
	
	#about-image {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#face {
		height: 220px;
		margin-top: 40px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	
	#hi {
		font-size: 35px;
	}
	
	#about-text {
		font-size: 15px;
	}
	
	#project-summary {
		width: 65vw;
		margin: auto;
		margin-top: 30px;
	}
}

@media(max-width: 680px) {
	#about-text {
		width: 46vw;
	}
	

}

@media(max-width: 555px) {
	#main {
		height: 55vh;
	}
	
	#topbar {
		font-size: 14px;
	}
	
	#name {
		font-size: 50px;
	}
	
	#occupations {
		font-size: 14px;
	}
	
	.subheading {
		font-size: 14px;
	}
	
	.container {
		padding-top: 16vh;
	}
	
	.fa {
		margin-top: 45px;
	}
	
	.project-container {
		flex-basis: 100%;
	}
	
	#hi {
		font-size: 30px;
	}
	
	#about-text {
		width: 35vw;
		font-size: 14px;
	}
}

@media(max-width: 450px) {
	#about-text {
		width: 20vw;
	}
	
	#hi {
		font-size: 20px;
	}
}
	




